/* FONT */
/* -------------------------------------------------------------------------- */

@import url("fonts/font.css");

/* END FONT */
/* -------------------------------------------------------------------------- */




/* PAGE STRUCTURE */
/* -------------------------------------------------------------------------- */

html, body{

	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100%;
	background-color: #FFF;
	color: #333333;

}

ul{

	margin: 0;
	padding: 0;
	list-style: none;

}

a{

	color: #1C82DA;
	text-decoration: none;

}

button{

	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	cursor: pointer;

}

/* Disable double-tap-to-zoom for fast click response on mobile browsers */
a,
button{

	-ms-touch-action: manipulation;	/* IE10  */
	touch-action: manipulation;		/* IE11+ */

}

/* Remove text/search cancel button */
input[type=text]::-ms-clear {  display: none; width: 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width: 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

/* END PAGE STRUCTURE */
/* -------------------------------------------------------------------------- */




/* CLEAR FIX BY NICOLAS GALLAGHER */
/* -------------------------------------------------------------------------- */

/* http://nicolasgallagher.com/micro-clearfix-hack/ */

.cf:before,
.cf:after{

    content: " ";
    display: table;

}

.cf:after {

    clear: both;

}

/*
	For IE 6/7 only. Include this rule to trigger hasLayout and contain floats.
 */
.cf {

    *zoom: 1;

}

/* END CLEAR FIX BY NICOLAS GALLAGHER */
/* -------------------------------------------------------------------------- */




/* NAV BAR */
/* -------------------------------------------------------------------------- */

header, nav{

	display: block;
	z-index: 9000;
	width: 100%;
	color: #333;
	background-color: #333;

}

/* ---------------------------------- */

#nav_ul{

	text-align: center;

}

#nav_ul li{

	display: inline-block;
	vertical-align: middle;

}

#nav_ul li:last-child{

	border-right: none;

}

#nav_ul a{

	display: block;
	margin: 0 20px;
	padding: 10px 0;
	color: #FFF;

}

/* END NAV BAR */
/* -------------------------------------------------------------------------- */




/* MESSAGES */
/* -------------------------------------------------------------------------- */

#messages{

	z-index: 8999;
	display: none;
	position: fixed;
	top: 39px; left: 0; right: 0;

	padding: 0 10px 10px 10px;
	text-align: center;
	overflow: hidden;

}

#messages.show{

	display: block;

}

#messages > .wrapper{

	display: inline-block;
	vertical-align: top;
	max-width: 100%;

}

#messages .container{

	z-index: 9000;
	position: relative;
	min-width: 0;
	max-width: 600px;
	padding: 15px;
	border: 1px solid #333;
	border-radius: 0 0 4px 4px;
	background-color: #FFF;

}

#messages .text{

	margin-right: 40px;

}

#messages p{

	margin: 0 0 10px 0;
	word-wrap: break-word;

}

#messages p:last-child{

	margin: 0;

}

#messages div.close{

	position: absolute;
	top: 15px; right: 12px; bottom: 15px;
	
	display: flex;
	align-items: center;
	justify-content: center;

}

#messages button{

	display: block;
	background-color: transparent;

}

/* ---------------------------------- */

#messages.no_js{

	position: relative;
	padding: 0 5px;
	background-color: #F6F6F6;

}

#messages.no_js .container{

	background-color: #F6F6F6;
	max-width: 1200px;
	border: none;

}

#messages.no_js .text{

	margin-right: 0;

}

/* END MESSAGES */
/* -------------------------------------------------------------------------- */




/* PAGE CONTAINERS */
/* -------------------------------------------------------------------------- */

/* Outer container */
#content_container{


}

/* Content container */
#main_content{

	position: relative;
	padding: 20px;

}

/* Page container */
.container{

	margin: auto;
	min-width: 420px;
	max-width: 1200px;

}

/* END PAGE CONTAINERS */
/* -------------------------------------------------------------------------- */




/* CLASSES */
/* -------------------------------------------------------------------------- */

.hide{

	display: none;

}

.show{

	display: block;

}

.hidden{

	visibility: hidden;

}

.box_border{

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}

.ellipsis{

	text-overflow: ellipsis;
	white-space:nowrap;
	overflow: hidden;

}

.cloak {

	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	/* IE 5-7 */
	filter: alpha(opacity=0);
	/* Netscape */
	-moz-opacity: 0;
	/* Safari 1.x */
	-khtml-opacity: 0;
	/* Other Browsers */
	opacity: 0;

}

.disabled{

	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	/* IE 5-7 */
	filter: alpha(opacity=50);
	/* Netscape */
	-moz-opacity: 0.5;
	/* Safari 1.x */
	-khtml-opacity: 0.5;
	/* Other Browsers */
	opacity: 0.5;

}

.modal {

	position: relative;
	text-align: center;
	position: fixed;
	z-index: 9000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgb(255,255,255); /* Fallback color */
	background-color: rgba(0,0,0,0.4);

}

/* Prevent the body from scrolling when the modal is open */
body.modal_open{

	overflow: hidden;
	position: relative;

}


.caret_up, .caret_down, .caret_left, .caret_right{

	width: 0;
	height: 0;

}

.caret_up, .caret_down{

	border-left: 8px solid transparent;
	border-right: 8px solid transparent;	

}

.caret_left, .caret_right{

	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;	

}

.caret_up{

	border-bottom: 8px solid #333;

}

.caret_down {

	border-top: 8px solid #333;

}

.caret_left {

	border-right:8px solid #333; 

}

.caret_right {

	border-left: 8px solid #333;

}


.animation{

	display: block;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	margin: auto;

}

.pulse{

	-webkit-animation: 2s linear 0s infinite normal none running pulse;
	-moz-animation: 2s linear 0s infinite normal none running pulse;
	-o-animation: 2s linear 0s infinite normal none running pulse;
	animation: 2s linear 0s infinite normal none running pulse;

}

@-webkit-keyframes pulse{

	0%, 100%{

		opacity: 1;

	}
	
	50%{

		opacity: 0.4;

	}

}

@-moz-keyframes pulse{

	0%, 100%{

		opacity: 1;

	}
	
	50%{

		opacity: 0.4;

	}

}

@-o-keyframes pulse{

	0%, 100%{

		opacity: 1;

	}
	
	50%{

		opacity: 0.4;

	}

}

@keyframes pulse{

	0%, 100%{

		opacity: 1;

	}
	
	50%{

		opacity: 0.4;

	}

}


.bounce{

	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	margin: auto;
	width: 70px;
	height: 20px;

}

.bounce > div{

	width: 20px;
	height: 20px;
	background-color: #333;
	border-radius: 100%;
	display: inline-block;
	vertical-align: top;

	-webkit-animation: bouncedelay 1.4s infinite ease-in-out both;
	-moz-animation: bouncedelay 1.4s infinite ease-in-out both;
	-o-animation: bouncedelay 1.4s infinite ease-in-out both;
	animation: bouncedelay 1.4s infinite ease-in-out both;

}

.bounce .one{

	-webkit-animation-delay: -0.32s;
	-moz-animation-delay: -0.32s;
	-o-animation-delay: -0.32s;
	animation-delay: -0.32s;

}

.bounce .two{

	-webkit-animation-delay: -0.16s;
	-moz-animation-delay: -0.16s;
	-o-animation-delay: -0.16s;
	animation-delay: -0.16s;

}

@-webkit-keyframes bouncedelay{

	0%, 80%, 100% {

		-webkit-transform: scale(0.4)

	}

	40%{

		-webkit-transform: scale(1.0)

	}

}

@-moz-keyframes bouncedelay{

	0%, 80%, 100% {

		-moz-transform: scale(0.4)

	}

	40%{

		-moz-transform: scale(1.0)

	}

}

@-o-keyframes bouncedelay{

	0%, 80%, 100% {

		-o-transform: scale(0.4)

	}

	40%{

		-o-transform: scale(1.0)

	}

}

@keyframes bouncedelay{

	0%, 80%, 100%{
	
		transform: scale(0.4);
	
	}

	40%{

		transform: scale(1.0);
	
	}

}

/* END CLASSES */
/* -------------------------------------------------------------------------- */



